<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @manager.team_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @manager.user_id %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
